main {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > table{
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px;
    size: 10em;
}

#droitsTable tr.selected {
    background-color: #e0e0e0; 
}