body {
    height: auto;
    padding-bottom: 0;
    background: url(svg/triskel2.svg) top right no-repeat, url(svg/triskel1.svg) bottom left no-repeat;
    background-origin: content-box;
}

header{
    margin-top: 5em;
    background-color: #5B3F69;
    color: #F6E4FF;
    padding: 1em;
}


main{
    padding-top: 5vw;
    padding-bottom: 15vw;
}

main form div{
    height: 5vw;
    width: 80%;
    margin: auto;
}

footer a:link {
    margin-right: 0;
    font-size: 1.5em;
    color: #F6E4FF;
}

footer a:visited {
    margin-right: 0;
    font-size: 1.5em;
    color: #F6E4FF;
}


footer{
    margin-top: 5em;
    padding-top: 1px;
    background-color: #5B3F69;
    color: #F6E4FF;
    margin-bottom: 0;
    display: block;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    border-top: 1px solid #5B3F69;
}

main h1{
    color: #020202;
    margin: auto;
    text-align: center;
}

footer hr{
    border-width: 1px;
    border-color: #F6E4FF;
    width: 87%;
}

a:link{
    color: #5B3F69;
}

a:visited{
    color: #5B3F69;
}

a:hover{
    color: #5B3F69;
}


.custom-input {
    width: 100%;
    color: #957BB0; 
    border: 1px solid #957BB0;
    border-radius: 20px;
    font-size: 2em;
}

.btn-compte {
    background-color: #957BB0; 
    color: #F6E4FF;
    border: 1px solid #957BB0; 
    border-radius: 20px;
    font-size: 2em;
}

.btn-compte:hover {
    background-color: #FAE3C6;
    color: #5B3F69;
}

#Login::placeholder, #motdepasse::placeholder ,#Prenom::placeholder, #Nom::placeholder, #Pseudo::placeholder, #mail::placeholder, #langue::placeholder, #email::placeholder,
#pseudo::placeholder, #ville::placeholder,#confirmationMDP::placeholder, #codePostal::placeholder,#numRue::placeholder,#nomRue::placeholder,#telephone::placeholder {
    color: #957BB0;
    opacity: 50%;
}

.titre{
    margin-top: auto;
    margin-bottom: auto;
}

.compteciv{
    margin: auto;
}