body {
    height: auto;
    padding-bottom: 0;
    background-origin: content-box;
}

header {
    position: relative;
    color: #745086;
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid #745086;
}

#pp {
    height: 60px;
    width: 60px;
}


header a:link {
    margin-right: 0;
    font-size: 1.5em;
    color: #F6E4FF;
}

header a:visited {
    margin-right: 0;
    font-size: 1.5em;
    color: #F6E4FF;
}


.headconn {
    margin-top: 5em;
    position: relative;
    background-color: #745086;
    color: #F6E4FF;
    padding: 1em;
}

main {
    padding-top: 5vw;
    padding-bottom: 5vw;
}

main form div {
    height: 5vw;
    width: 80%;
    margin: auto;
}

main label {
    color: #745086;
}

footer a:link {
    margin-right: 0;
    font-size: 1.5em;
    color: #F6E4FF;
}

footer a:visited {
    margin-right: 0;
    font-size: 1.5em;
    color: #F6E4FF;
}


footer {
    padding-top: 1px;
    background-color: #745086;
    color: #F6E4FF;
    margin-bottom: 0;
    display: block;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    border-top: 1px solid #F6E4FF;
}

main h1 {
    color: #020202;
    margin: auto;
    text-align: center;
}

footer hr {
    border-width: 1px;
    border-color: #F6E4FF;
    width: 87%;
}

a:link {
    color: #745086;
}

a:visited {
    color: #745086;
}

a:hover {
    color: #745086;
}


.custom-input {
    width: 100%;
    color: #957BB0;
    border: 1px solid #957BB0;
    border-radius: 5px;
    font-size: 2em;
}

.btn-compte {
    background-color: #957BB0;
    color: #F6E4FF;
    border: 1px solid #957BB0;
    border-radius: 20px;
    font-size: 2em;
}

.btn-accueil {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #957BB0;
    color: #F6E4FF;
    border: 1px solid #957BB0;
    border-radius: 20px;
    font-size: 1em;
}

.btn-accueilins {
    margin-top: auto;
    margin-bottom: auto;
    color: #745086;
    border: 1px solid #745086;
    border-radius: 20px;
    font-size: 1em;
}

.btn-accueilins h5 {
    margin: auto;
}


.btn-accueil h5 {
    margin: auto;
}

.btn-accueil:hover {
    background-color: #FAE3C6;
    color: #745086;
}

.btn-accueilins:hover {
    background-color: #745086;
    color: #FFF;
}


.btn-compte:hover {
    background-color: #FAE3C6;
    color: #745086;
}

#Login::placeholder,
#motdepasse::placeholder,
#Prenom::placeholder,
#Nom::placeholder,
#Pseudo::placeholder,
#mail::placeholder,
#langue::placeholder,
#email::placeholder,
#pseudo::placeholder,
#ville::placeholder,
#confirmationMDP::placeholder,
#codePostal::placeholder,
#numRue::placeholder,
#nomRue::placeholder,
#telephone::placeholder {
    color: #957BB0;
    opacity: 50%;
}

.titre {
    margin-top: auto;
    margin-bottom: auto;
}

.compteciv {
    margin: auto;
}

.testfooter {
    font-size: 0.8em;
}

.testfoot {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

.rib {
    margin: auto;
}

.tewt {
    padding: auto;
}

main img {
    width: 50px;
    height: 50px;
}