body {
    height: auto;
    padding-bottom: 0;
    margin: 0;
    background-origin: content-box;
    width: 100%;
}

.pagecompte {
    background: url(svg/triskel2.svg) top right no-repeat, url(svg/triskel1.svg) bottom left no-repeat;
}

/*----------------------------------------------------------------Header----------------------------------------------------------------*/

header{
    display: flex;
    flex-direction: row;
    position: relative;
    color: #745086;
    box-sizing: border-box;
    border-bottom: 1px solid #745086; 
    flex-wrap: nowrap;
}

.logot {
    height: 5em;
    width: 5em;
}

header h2 {
    margin:auto 5em auto 1em;
}

header h4{
    color:#000;
    margin-right: 4em;
}

header a {
    margin-top: auto;
    margin-bottom: auto;
}

header input{
    margin-left: 1em;
    width: 25em;
}

.brecherche {
    display: flex;
    flex-wrap: nowrap;
    margin:auto 10em auto 10em;
}

.imghead{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header a:last-child {
    margin-left: 3em;
}

.imgprofil {
    display: block;
    box-sizing: border-box;
    border: 1px solid #5B3F69;
    border-radius: 50%;
    padding: none;
}

.headconn{
    margin-top: 5em;
    position: relative;
    background-color: #745086;
    color: #F6E4FF;
    padding: 1em;
}

/*----------------------------------------------------------------Main----------------------------------------------------------------*/

main{
    padding-top: 5vw;
    padding-bottom: 5vw;
}

main form div{
    height: 5vw;
    width: 80%;
    margin: auto;
}
main label{
    color: #745086;
}

main h1{
    color: #020202;
    margin: auto;
    text-align: center;
}


/*----------------------------------------------------------------footer----------------------------------------------------------------*/

footer{
    padding-top: 1px;
    background-color: #745086;
    color: #F6E4FF;
    margin-bottom: 0;
    display: block;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    border-top: 1px solid #F6E4FF   ;
    width: 100%;
}

.tfooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.bfooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

footer hr{
    border-width: 1px;
    border-color: #F6E4FF;
    width: 87%;
}

footer div p {
    padding: 0%;
}

.linkreseau{
    margin: auto;
}


/*----------------------------------------------------------------Link----------------------------------------------------------------*/

a:link{
    color: #745086;
}

a:visited{
    color: #745086;
}

a:hover{
    color: #745086;
}

header a:link {
    margin-right: 0;
    font-size: 1.5em;
    color: #F6E4FF;
    text-decoration: none;
}

header a:visited {
    margin-right: 0;
    font-size: 1.5em;
    color: #F6E4FF;
    text-decoration: none;
}

footer a:link {
    margin-right: 0;
    font-size: 1.5em;
    color: #F6E4FF;
    text-decoration: none;
}

footer a:visited {
    margin-right: 0;
    font-size: 1.5em;
    color: #F6E4FF;
    text-decoration: none;
}

.margintb{
    margin-top: auto;   
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*----------------------------------------------------------------Bouton----------------------------------------------------------------*/

.btn-compte {
    background-color: #957BB0; 
    color: #F6E4FF;
    border: 1px solid #957BB0; 
    border-radius: 20px;
    font-size: 2em;
}

.btn-accueil {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #957BB0; 
    color: #F6E4FF;
    border: 1px solid #957BB0; 
    border-radius: 20px;
    font-size: 1em;
}

.btn-accueilins {
    margin-top: auto;
    margin-bottom: auto; 
    margin-left: 5em;
    color: #745086;
    border: 1px solid #745086; 
    border-radius: 20px;
    font-size: 1em;
}

.btn_visi {
    padding: 0.5em 1em 0.5em 1em;
}

.btn-accueilins:visited{
    color: #745086;
}

.btn-accueilins h5{
    margin: auto;
}

.btn-accueil h5{
    margin: auto;
}

.btn-accueil:hover {
    background-color: #FAE3C6;
    color: #745086;
}

.btn-accueilins:hover {
    background-color: #745086;
    color: #FAE3C6;
}

.btn-compte:hover {
    background-color: #FAE3C6;
    color: #745086;
}




#Login::placeholder, #motdepasse::placeholder ,#Prenom::placeholder, #Nom::placeholder, #Pseudo::placeholder, #mail::placeholder, #langue::placeholder, #email::placeholder,
#pseudo::placeholder, #ville::placeholder,#confirmationMDP::placeholder, #codePostal::placeholder,#numRue::placeholder,#nomRue::placeholder,#telephone::placeholder {
    color: #957BB0;
    opacity: 50%;
}

.compteciv{
    margin: auto;
}

.rib{
    margin: auto;
}

.tewt{
    padding: auto;
}

.custom-input {
    width: 100%;
    color: #957BB0; 
    border: 1px solid #957BB0;
    border-radius: 5px;
    font-size: 2em;
}

